/* hemp styles for HQz site*/

/* Global styles */

body {
    font-family: 'SweetLeaf', sans-serif;
    font-size: 30px;
    color: green;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
    margin: 0;
    padding: 0;
    background-image:url(https://i.gifer.com/133C.gif); 
    background-repeat:repeat; 
}

/* Styles for animation #1 */

@keyframes bounce {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
  }
  
  .animated-header {
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

/* Styles for animation #2 */

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flashing-text {
  animation-name: flash;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 50px;

}


/* Styles for Header */

header {
    background-color: black;
    color: green;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
        display: inline-block;
        margin: 0 10px;
        padding: 0;
}

nav a {
    color: green;
    text-decoration: none;
}

    main {
        padding: 20px;
    }

    footer {
        background-color: black;
        color: green;
        padding: 0px;
    }


    table {
        width: 80%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      
      /* Styles for the table */
      thead th {
        background-color: grey;
        border-bottom: 5px solid purple;
        padding: 10px;
        text-align: left;
      }
      
      tbody td {
        padding: 10px;
        border-bottom: 1px solid green;
      }
      
      tbody tr:nth-child(even) {
        background-color: grey;
      }
        tbody tr:nth-child(odd) { 
            background-color: rgba(128, 0, 128, 0.637);
            ;
      }
      
      /* Styles for the header and main sections */
      header, main {
        padding: 20px;
      }
      
      header h1, main h2 {
        margin-top: 0;
      }


      .dropdown:hover .dropdown-menu {
        display: block;
      }
      
      .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 0;
        list-style: none;
      }
      
      .dropdown-menu li {
        padding: 10px;
      }
      
      .dropdown-menu li:hover {
        background-color: #f2f2f2;
      }


      /* Styles for the horizontal breaks */

      .horizontal-break {
        border: none;
        height: 2px; 
        background-color: green;
        margin: 10px 0;
      }